<!DOCTYPE html>
<html>
<title> :..Cardio Junction..: </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

			#pop{display:none;position:absolute;top:30%;left:50%;margin-left:-150px;margin-top:-100px;padding:10px;width:auto;height:auto;border:1px solid #d0d0d0; background-color: rgb(201, 201, 201);}
			#farmaco{display:none;position:absolute;top:30%;left:50%;margin-left:-150px;margin-top:-100px;padding:10px;width:auto;height:auto;border:1px solid #d0d0d0; background-color: rgb(201, 201, 201);}
			#protocolo{display:none;position:absolute;top:30%;left:50%;margin-left:-150px;margin-top:-100px;padding:10px;width:auto;height:auto;border:1px solid #d0d0d0; background-color: rgb(201, 201, 201);}
			#simulacao{display:none;position:absolute;top:30%;left:50%;margin-left:-150px;margin-top:-100px;padding:10px;width:auto;height:auto;border:1px solid #d0d0d0; background-color: rgb(201, 201, 201);}

</style>
<body class="w3-light-grey">
<form action="/graficos" method="post">
<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Cardio Junction</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="{{ url_for('static', filename='img/tela_web_ghost.png') }}" class="w3-circle w3-margin-right" style="width:90px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span><strong>Sistema Cardio Junction</strong></span><br>
	  <!--
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
	  -->
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Opções</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
	<a href="{{ url_for('principal') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Home</a>   
	<a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i> Parâmetros</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Sobre</a><br>
  
  <!--
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Views</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Traffic</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bullseye fa-fw"></i>  Geo</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-diamond fa-fw"></i>  Orders</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bell fa-fw"></i>  News</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-bank fa-fw"></i>  General</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-history fa-fw"></i>  History</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Settings</a><br><br>
	-->
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Compartimentos</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>1</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Cleft</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>2</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Subsarcolema</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>3</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Cytosol</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>4</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Retículo Sarcoplasmatico</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
        <h5>Modelo</h5>
        <img src="{{ url_for('static', filename='img/tela_web.png') }}" style="width:100%" alt="Quatro compartimentos">
      </div>
      <div class="w3-twothird">
        <h5>Parâmetros</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td><i class="fa fa-user w3-text-blue w3-large"></i></td>
            <td>Deseja alterar a modelagem dos canais iônicos?</td>
            <td><i><button type="button" onclick="document.getElementById('pop').style.display='block';document.getElementById('protocolo').style.display='none';document.getElementById('farmaco').style.display='none';document.getElementById('simulacao').style.display='none';">Clique Aqui!</button></i></td>
          </tr>
          <tr>
            <td><i class="fa fa-bell w3-text-red w3-large"></i></td>
            <td>Deseja realizar a aplicação de fármacos?</td>
            <td><i><button type="button" onclick="document.getElementById('farmaco').style.display='block';document.getElementById('protocolo').style.display='none';document.getElementById('pop').style.display='none';document.getElementById('simulacao').style.display='none';">Clique Aqui!</button></i></td>
          </tr>
          <tr>
            <td><i class="fa fa-users w3-text-yellow w3-large"></i></td>
            <td>  Qual o protocolo de simulação?</td>
            <td><i><button type="button" onclick="document.getElementById('protocolo').style.display='block';document.getElementById('pop').style.display='none';document.getElementById('farmaco').style.display='none';document.getElementById('simulacao').style.display='none';">Clique Aqui!</button></i></td>
          </tr>
          <tr>
            <td><i class="fa fa-comment w3-text-red w3-large"></i></td>
            <td>Parâmetros da Simulação</td>
            <td><i><button type="button" onclick="document.getElementById('simulacao').style.display='block';document.getElementById('protocolo').style.display='none';document.getElementById('farmaco').style.display='none';document.getElementById('pop').style.display='none';">Clique Aqui!</button></i></td>
          </tr>
          <tr>            
            <td colspan="3"><i><button type='submit'  id='recalcular' style="display: block; width: 20%;">Executar</button></i></td>
          </tr>		  
        </table>
      </div>
    </div>
  </div>
  <hr>
  
  <div id="pop">
<a href="#" onclick="document.getElementById('pop').style.display='none';">[Fechar]</a>
			<table border="0">			
				<tr>
					<td>
						Canal de cálcio de longa duração (ICaL) 0 - HH ou 1 - Mahajan (2008)
					</td>
					<td>
						<select name="selCalcio">
							<option value="0">0</option>
							<option value="1" selected>1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Canal de sódio de ativação rápida (INa) 0 - HH ou 1 - Winslow (2004)nnnn
					</td>
					<td>
						<select name="selSodio">
							<option value="0" selected>0</option>
							<option value="1">1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Canal de potássio transitório (Ito) 0 - HH ou 1 - Winslow (2008)
					</td>
					<td>
						<select name="selPotassioTrans">
							<option value="0">0</option>
							<option value="1" selected>1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Canal de potássio (IKr) 0 - HH ou 1 - Winslow (2008)
					</td>
					<td>
						<select name="selPotassioR">
							<option value="0">0</option>
							<option value="1" selected>1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Canal de potássio (IKs) 0 - HH ou 1 - Winslow (2004) ou 2 - Rudy (2008)
					</td>
					<td>
						<select name="selPotassioS">
							<option value="0">0</option>
							<option value="1" selected>1</option>
							<option value="2">2</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Canal de força: 1 - Rice et al ou 0 - Negroni & Lascano
					</td>
					<td>
						<select name="selForca">
							<option value="0">0</option>
							<option value="1" selected>1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Comprimento da célula em um
					</td>
					<td>
						<input name="txtComCel" value="100" />
					</td>
				</tr>
				<tr>
					<td>
						Comprimento do Sarcômero em um
					</td>
					<td>
						<input name="txtComSar" value="1.05" />
					</td>
				</tr>
			
			</table>
 
</div>

<div id="farmaco">
<a href="#" onclick="document.getElementById('farmaco').style.display='none';">[Fechar]</a> 
	<table border="0">
				<tr>
					<td>
						Aplicar Fármacos:
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO SR PUMP (%)</td>
					<td>
						<input name="txtBloqueioPump" value="0" />
					</td>
				</tr>
				<tr>
					<td>ESTIMULAÇÃO DO SR PUMP (%)</td>
					<td>
						<input name="txtEstimuloPump" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO NCX (%)</td>
					<td>
						<input name="txtBloqueioNCX" value="0" />
					</td>
				</tr>
				<tr>
					<td>ESTIMULAÇÃO DO NCX (%)</td>
					<td>
						<input name="txtEstimuloNCX" value="0" />
					</td>
				</tr>
				<tr>
					<td>CAFEÍNA</td>
					<td>
						<select name="selCafeina">
							<option value="0" selected>Não</option>
							<option value="100">Sim</option>                        
						</select>
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO CICR (%)</td>
					<td>
						<input name="txtBloqueioCICR" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO IKs (%)</td>
					<td>
						<input name="txtBloqueioIKs" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO IKr (%)</td>
					<td>
						<input name="txtBloqueioIKr" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO IKtof (%)</td>
					<td>
						<input name="txtBloqueioIKtof" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO IKtos (%)</td>
					<td>
						<input name="txtBloqueioIKtos" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO INa Fast (%)</td>
					<td>
						<input name="txtBloqueioINaFast" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO ICaL (%)</td>
					<td>
						<input name="txtBloqueioICaL" value="0" />
					</td>
				</tr>
	
	</table>
</div>

<div id="protocolo">
<a href="#" onclick="document.getElementById('protocolo').style.display='none';">[Fechar]</a> 
<table border="0">
	
				<tr>
					<td>
						Escolha o Protocolo para Simulação
					</td>
					<td>
						<select name="selProtocolo">
							<option value="1" selected>Potencial de ação artificial</option>
							
							<option value="3">Injeção de corrente</option>
						</select>
					</td>
				</tr>
		
		
</table>
</div>

<div id="simulacao" class="container">
<a href="#" onclick="document.getElementById('simulacao').style.display='none';">[Fechar]</a>
<table border="0">
				<tr>
					<td>ESTIMULADOR DO ICaL (%)</td>
					<td>
						<input name="txtEstimuladorICaL" value="0" />
					</td>
				</tr>            
				<tr>
					<td>INSTANTE PARA APLICAÇÃO DO PULSO EM ms</td>
					<td>
						<input name="txtInstanteAplicacaoPulso" value="1000" />
					</td>
				</tr>
				<tr>
					<td>TEMPO DE SIMULAÇÃO EM ms</td>
					<td>
						<input name="txtTempoSimulacao" value="5000" />
					</td>
				</tr>
				<tr>
					<td>VOLTAGEM DE ESTIMULAÇÃO EM mV</td>
					<td>
						<input name="txtEstimuloVoltagem" value="15" />
					</td>
				</tr>
				<tr>
					<td>POTENCIAL DE REPOUSO EM mV</td>
					<td>
						<input name="txtPotencialRepouso" value="-80" />
					</td>
				</tr>
				<tr>
					<td>TEMPO DE SIMULAÇÃO APÓS APLICAÇÃO DO PULSO EM ms</td>
					<td>
						<input name="txtTempoSimulacaoAplicacao" value="0" />
					</td>
				</tr>
				<tr>
					<td>LARGURA DO PULSO EM ms</td>
					<td>
						<input name="txtLarguraPulso" value="200" />
					</td>
				</tr>
				<tr>
					<td>FREQUÊNCIA EM Hz</td>
					<td>
						<input name="txtFrequencia" value="1" />
					</td>
				</tr>
				<tr>
					<td>AMPLITUDE DA CORRENTE INJETADA EM uA/uF</td>
					<td>
						<input name="txtAmplitudeInjetada" value="9.5" />
					</td>
				</tr>
				<tr>
					<td>INSTANTE PARA PLOTAGEM EM ms</td>
					<td>
						<input name="txtInstantePlotagem" value="0" />
					</td>
				</tr>

			</table>
			<br>


	</div>
  
  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
      </div>
      <div class="w3-container w3-third">
      </div>
      <div class="w3-container w3-third">
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <!-- End page content -->
</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>
</form>
</body>
</html>
