<!DOCTYPE html>
<html>
<title> :..Cardio Junction..: </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/graficos.css') }}">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

			#pop{display:none;position:absolute;top:30%;left:50%;margin-left:-150px;margin-top:-100px;padding:10px;width:auto;height:auto;border:1px solid #d0d0d0; background-color: rgb(201, 201, 201);}
			#farmaco{display:none;position:absolute;top:30%;left:50%;margin-left:-150px;margin-top:-100px;padding:10px;width:auto;height:auto;border:1px solid #d0d0d0; background-color: rgb(201, 201, 201);}
			#protocolo{display:none;position:absolute;top:30%;left:50%;margin-left:-150px;margin-top:-100px;padding:10px;width:auto;height:auto;border:1px solid #d0d0d0; background-color: rgb(201, 201, 201);}
			#simulacao{display:none;position:absolute;top:30%;left:50%;margin-left:-150px;margin-top:-100px;padding:10px;width:auto;height:auto;border:1px solid #d0d0d0; background-color: rgb(201, 201, 201);}

.mySlides1 {display:none;}

.mySlides2 {display:none;}

.mySlides3 {display:none;}

.mySlides4 {display:none;}

.mySlides5 {display:none;}

#grupo1{display:none;}

#grupo2{display:none;}

#grupo3{display:none;}

#grupo4{display:none;}

#grupo5{display:none;}

</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Cardio Junction</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="{{ url_for('static', filename='img/tela_web_ghost.png') }}" class="w3-circle w3-margin-right" style="width:90px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span><strong>Sistema Cardio Junction</strong></span><br>
    </div>
  </div>
  <hr>
  <div class="w3-container">
    <h5>Opções</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
	<a href="{{ url_for('principal') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Home</a>   
	<a href="{{ url_for('parametros') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i> Parâmetros</a>
    <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Sobre</a><br> 
  
  </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> Compartimentos</b></h5>
  </header>

  <div class="w3-row-padding w3-margin-bottom">
  <a href="#" onclick="document.getElementById('grupo1').style.display='block';document.getElementById('grupo2').style.display='none';document.getElementById('grupo3').style.display='none';document.getElementById('grupo4').style.display='none';document.getElementById('grupo5').style.display='none';">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-comment w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>1</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>AP – [Ca2+] Cy – FORCE – SL</h4>
      </div>
    </div>
	
	</a>
	
<a href="#" onclick="document.getElementById('grupo2').style.display='block';document.getElementById('grupo1').style.display='none';document.getElementById('grupo3').style.display='none';document.getElementById('grupo4').style.display='none';document.getElementById('grupo5').style.display='none';">
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>2</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>[Ca2+]Cleft – [Ca2+]SS – [Ca2+]Cy – [Ca2+]SR</h4>
      </div>
    </div>
	</a>	
<a href="#" onclick="document.getElementById('grupo3').style.display='block';document.getElementById('grupo1').style.display='none';document.getElementById('grupo2').style.display='none';document.getElementById('grupo4').style.display='none';document.getElementById('grupo5').style.display='none';">	
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>3</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>iCaL – iNa – iNaCa – iNaK</h4>
      </div>
    </div>
</a>	

<a href="#" onclick="document.getElementById('grupo5').style.display='block';document.getElementById('grupo1').style.display='none';document.getElementById('grupo2').style.display='none';document.getElementById('grupo3').style.display='none';document.getElementById('grupo4').style.display='none';">
    <div class="w3-quarter">
      <div class="w3-container w3-yellow w3-padding-16">
        <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>4</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>CICR – Leak SR – SR ATPase – SL ATPase</h4>
      </div>
    </div>
</a>

<a href="#" onclick="document.getElementById('grupo4').style.display='block';document.getElementById('grupo1').style.display='none';document.getElementById('grupo2').style.display='none';document.getElementById('grupo3').style.display='none';document.getElementById('grupo5').style.display='none';">
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>5</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>iKtof – iK1 – iKs – iKr – iKur – iKss</h4>
      </div>
    </div>
  
</a>
</div>
  <div class="w3-panel">
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-third">
<div id="grupo1">
	<div class="w3-content w3-display-container">
		{% for id in ids %}			
			{% if id == "graph-0" or id == "graph-1" or id == "graph-2" or id =="graph-3" %}
				<div class="mySlides1" id="{{id}}"></div>			
			{% endif %}

		{% endfor %}		

	  <button class="w3-button w3-black w3-display-left" onclick="plusDivs1(-1)">Anterior</button>
	  <button class="w3-button w3-black w3-display-right" onclick="plusDivs1(1)">Próximo</button>
	</div>
</div>

<div id="grupo2">
	<div class="w3-content w3-display-container">
		{% for id in ids %}			
			{% if id == "graph-4" or id == "graph-5" or id == "graph-6" or id =="graph-7" %}
				<div class="mySlides2" id="{{id}}"></div>			
			{% endif %}

		{% endfor %}		

	  <button class="w3-button w3-black w3-display-left" onclick="plusDivs2(-1)">Anterior</button>
	  <button class="w3-button w3-black w3-display-right" onclick="plusDivs2(1)">Próximo</button>
	</div>
</div>

<div id="grupo3">
	<div class="w3-content w3-display-container">
		{% for id in ids %}			

			{% if id == "graph-8" or id == "graph-9" or id == "graph-10" or id =="graph-11" %}
				<div class="mySlides3" id="{{id}}"></div>
			{% endif %}

		{% endfor %}		

	  <button class="w3-button w3-black w3-display-left" onclick="plusDivs3(-1)">Anterior</button>
	  <button class="w3-button w3-black w3-display-right" onclick="plusDivs3(1)">Próximo</button>
	</div>
</div>

<div id="grupo4">
	<div class="w3-content w3-display-container">
		{% for id in ids %}			

			{% if id == "graph-12" or id == "graph-13" or id == "graph-14" or id =="graph-15" or id =="graph-16"%}
				<div class="mySlides4" id="{{id}}"></div>
			{% endif %}		
			

		{% endfor %}		

	  <button class="w3-button w3-black w3-display-left" onclick="plusDivs4(-1)">Anterior</button>
	  <button class="w3-button w3-black w3-display-right" onclick="plusDivs4(1)">Próximo</button>
	</div>
</div>

<div id="grupo5">
	<div class="w3-content w3-display-container">
		{% for id in ids %}			
			{% if id == "graph-17" or id == "graph-18" or id == "graph-19" or id =="graph-20" %}
				<div class="mySlides5" id="{{id}}"></div>
			{% endif %}				
		{% endfor %}		

	  <button class="w3-button w3-black w3-display-left" onclick="plusDivs5(-1)">Anterior</button>
	  <button class="w3-button w3-black w3-display-right" onclick="plusDivs5(1)">Próximo</button>
	</div>
</div>

    </div>
  </div>
  </div>
  <hr>
  
  <div id="pop">
<a href="#" onclick="document.getElementById('pop').style.display='none';">[Fechar]</a>
			<table border="0">			
				<tr>
					<td>
						Canal de cálcio de longa duração (ICaL) 0 - HH ou 1 - Mahajan (2008)
					</td>
					<td>
						<select name="selCalcio">
							<option value="0">0</option>
							<option value="1" selected>1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Canal de sódio de ativação rápida (INa) 0 - HH ou 1 - Winslow (2004)nnnn
					</td>
					<td>
						<select name="selSodio">
							<option value="0" selected>0</option>
							<option value="1">1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Canal de potássio transitório (Ito) 0 - HH ou 1 - Winslow (2008)
					</td>
					<td>
						<select name="selPotassioTrans">
							<option value="0">0</option>
							<option value="1" selected>1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Canal de potássio (IKr) 0 - HH ou 1 - Winslow (2008)
					</td>
					<td>
						<select name="selPotassioR">
							<option value="0">0</option>
							<option value="1" selected>1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Canal de potássio (IKs) 0 - HH ou 1 - Winslow (2004) ou 2 - Rudy (2008)
					</td>
					<td>
						<select name="selPotassioS">
							<option value="0">0</option>
							<option value="1" selected>1</option>
							<option value="2">2</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Canal de força: 1 - Rice et al ou 0 - Negroni & Lascano
					</td>
					<td>
						<select name="selForca">
							<option value="0">0</option>
							<option value="1" selected>1</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						Comprimento da célula em um
					</td>
					<td>
						<input name="txtComCel" value="100" />
					</td>
				</tr>
				<tr>
					<td>
						Comprimento do Sarcômero em um
					</td>
					<td>
						<input name="txtComSar" value="1.05" />
					</td>
				</tr>
			
			</table>
 
</div>

<div id="farmaco">
<a href="#" onclick="document.getElementById('farmaco').style.display='none';">[Fechar]</a> 
	<table border="0">
				<tr>
					<td>
						Aplicar Fármacos:
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO SR PUMP (%)</td>
					<td>
						<input name="txtBloqueioPump" value="0" />
					</td>
				</tr>
				<tr>
					<td>ESTIMULAÇÃO DO SR PUMP (%)</td>
					<td>
						<input name="txtEstimuloPump" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO NCX (%)</td>
					<td>
						<input name="txtBloqueioNCX" value="0" />
					</td>
				</tr>
				<tr>
					<td>ESTIMULAÇÃO DO NCX (%)</td>
					<td>
						<input name="txtEstimuloNCX" value="0" />
					</td>
				</tr>
				<tr>
					<td>CAFEÍNA</td>
					<td>
						<select name="selCafeina">
							<option value="0" selected>Não</option>
							<option value="100">Sim</option>                        
						</select>
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO CICR (%)</td>
					<td>
						<input name="txtBloqueioCICR" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO IKs (%)</td>
					<td>
						<input name="txtBloqueioIKs" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO IKr (%)</td>
					<td>
						<input name="txtBloqueioIKr" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO IKtof (%)</td>
					<td>
						<input name="txtBloqueioIKtof" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO IKtos (%)</td>
					<td>
						<input name="txtBloqueioIKtos" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO INa Fast (%)</td>
					<td>
						<input name="txtBloqueioINaFast" value="0" />
					</td>
				</tr>
				<tr>
					<td>BLOQUEIO DO ICaL (%)</td>
					<td>
						<input name="txtBloqueioICaL" value="0" />
					</td>
				</tr>
	
	</table>
</div>

<div id="protocolo">
<a href="#" onclick="document.getElementById('protocolo').style.display='none';">[Fechar]</a> 
<table border="0">
	
				<tr>
					<td>
						Escolha o Protocolo para Simulação
					</td>
					<td>
						<select name="selProtocolo">
							<option value="1" selected>Potencial de ação artificial</option>
							
							<option value="3">Injeção de corrente</option>
						</select>
					</td>
				</tr>
		
		
</table>
</div>

<div id="simulacao" class="container">
<a href="#" onclick="document.getElementById('simulacao').style.display='none';">[Fechar]</a>
<table border="0">
				<tr>
					<td>ESTIMULADOR DO ICaL (%)</td>
					<td>
						<input name="txtEstimuladorICaL" value="0" />
					</td>
				</tr>            
				<tr>
					<td>INSTANTE PARA APLICAÇÃO DO PULSO EM ms</td>
					<td>
						<input name="txtInstanteAplicacaoPulso" value="1000" />
					</td>
				</tr>
				<tr>
					<td>TEMPO DE SIMULAÇÃO EM ms</td>
					<td>
						<input name="txtTempoSimulacao" value="5000" />
					</td>
				</tr>
				<tr>
					<td>VOLTAGEM DE ESTIMULAÇÃO EM mV</td>
					<td>
						<input name="txtEstimuloVoltagem" value="15" />
					</td>
				</tr>
				<tr>
					<td>POTENCIAL DE REPOUSO EM mV</td>
					<td>
						<input name="txtPotencialRepouso" value="-80" />
					</td>
				</tr>
				<tr>
					<td>TEMPO DE SIMULAÇÃO APÓS APLICAÇÃO DO PULSO EM ms</td>
					<td>
						<input name="txtTempoSimulacaoAplicacao" value="0" />
					</td>
				</tr>
				<tr>
					<td>LARGURA DO PULSO EM ms</td>
					<td>
						<input name="txtLarguraPulso" value="200" />
					</td>
				</tr>
				<tr>
					<td>FREQUÊNCIA EM Hz</td>
					<td>
						<input name="txtFrequencia" value="1" />
					</td>
				</tr>
				<tr>
					<td>AMPLITUDE DA CORRENTE INJETADA EM uA/uF</td>
					<td>
						<input name="txtAmplitudeInjetada" value="9.5" />
					</td>
				</tr>
				<tr>
					<td>INSTANTE PARA PLOTAGEM EM ms</td>
					<td>
						<input name="txtInstantePlotagem" value="0" />
					</td>
				</tr>

			</table>
			<br>


	</div>
  
  <br>
  <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
      </div>
      <div class="w3-container w3-third">
      </div>
      <div class="w3-container w3-third">
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-16 w3-light-grey">
    <h4>FOOTER</h4>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
  </footer>

  <!-- End page content -->
</div>

	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	
    <script type="text/javascript">
        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in graphs) {

			Plotly.newPlot(ids[i], 
					graphs[i].data, 
					graphs[i].layout,
					{showSendToCloud: false});
        }
    </script>

<script>
var slideIndex1 = 1;
showDivs1(slideIndex1);

function plusDivs1(n) {
  showDivs1(slideIndex1 += n);
}

function showDivs1(n) {
  var i;
  var x = document.getElementsByClassName("mySlides1");
  if (n > x.length) {slideIndex1 = 1}
  if (n < 1) {slideIndex1 = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex1-1].style.display = "block";  
}

var slideIndex2 = 1;
showDivs2(slideIndex2);

function plusDivs2(n) {
  showDivs2(slideIndex2 += n);
}

function showDivs2(n) {
  var i;
  var x = document.getElementsByClassName("mySlides2");
  if (n > x.length) {slideIndex2 = 1}
  if (n < 1) {slideIndex2 = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex2-1].style.display = "block";  
}

var slideIndex3 = 1;
showDivs3(slideIndex3);

function plusDivs3(n) {
  showDivs3(slideIndex3 += n);
}

function showDivs3(n) {
  var i;
  var x = document.getElementsByClassName("mySlides3");
  if (n > x.length) {slideIndex3 = 1}
  if (n < 1) {slideIndex3 = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex3-1].style.display = "block";  
}

var slideIndex4 = 1;
showDivs4(slideIndex4);

function plusDivs4(n) {
  showDivs4(slideIndex4 += n);
}

function showDivs4(n) {
  var i;
  var x = document.getElementsByClassName("mySlides4");
  if (n > x.length) {slideIndex4 = 1}
  if (n < 1) {slideIndex4 = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex4-1].style.display = "block";  
}

var slideIndex5 = 1;
showDivs5(slideIndex5);

function plusDivs5(n) {
  showDivs5(slideIndex5 += n);
}

function showDivs5(n) {
  var i;
  var x = document.getElementsByClassName("mySlides5");
  if (n > x.length) {slideIndex5 = 1}
  if (n < 1) {slideIndex5 = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex5-1].style.display = "block";  
}


</script>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
